*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  height: 100vh;
  width: 100vw;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.title{
  margin: 5.625rem auto 1.875rem auto;
  width: 80rem;
  color: gray;
  font-size:2rem;
  font-weight:700;
}

@media (max-width : 1366px) {
  html{
    font-size: 90%;
  }
}

@media (max-width : 1024px) {
  html{
    font-size: 70%;
  }
}

@media (max-width : 768px) {
  html{
    font-size: 50%;
  }

  .title{
    margin: 6rem auto 2rem auto;
    width: 80rem;
    color: gray;
    font-size:4rem;
    font-weight:700;
  }
}

@media (max-width : 560px) {
  html{
    font-size: 35%;
  }
}


@media (max-width : 480px) {
  html{
    font-size: 30%;
  }
}

@media (max-width : 410px) {
  html{
    font-size: 25%;
  }
}